<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
        <img src="./img/facebook.svg" alt="">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium
        maxime optio assumenda maiores. Est doloremque laborum sunt, cupiditate
        ducimus, et eveniet maiores molestiae quaerat, amet nam cum neque
        voluptas doloribus assumenda dolor quo nisi.
      </p>
      <h1> veniet maiores molestiae </h1>
    </div>
  </body>
</html>
